/*
 * Copyright (c) 2025 ZitaoTech
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define LOWER 1
#define RAISE 2
#define MOUSE 3
#define BOT bootloader

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp LCLK>, <&bt BT_CLR>;
        };
    };

    behaviors {
        tdRMCLK: tap_dance_R_LMouse {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp RCLK>, <&mkp MCLK>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            bindings = <&kp &kp>;
        };
    };

    behaviors {
        LMouse_sc: behavior_LMouse_Scroll {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";     /* 单击优先 */
            tapping-term-ms = <200>;       /* 长按阈值 */
            bindings = <&none &mkp>;        /* hold=none, tap=Lmouse */
        };
    };

    behaviors {
        M_kp: behavior_mouse_keypress {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";     /* 单击优先 */
            tapping-term-ms = <200>;       /* 长按阈值 */
            bindings = <&mkp &kp>;        /* hold=mou key press, tap=key*/
        };
    };

    behaviors {
        BLE_encoder: BLE_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&bt BT_NXT>, <&bt BT_PRV>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp Y      &kp U       &kp I          &kp O          &kp P              &kp BACKSPACE    &kp ESCAPE  &kp Q      &kp W     &kp E             &kp R           &kp T
&kp H      &kp J       &kp K          &kp L          &mt SQT SEMI       &kp RET          &mkp LCLK   &mkp LCLK  &kp TAB   &kp A             &kp S           &kp D         &kp F         &kp G
&kp N      &kp M       &kp SLASH      &mo 2          &kp V              &kp RIGHT_SHIFT  &kp PG_DN   &kp PG_UP  &kp DOWN  &kp UP_ARROW      &kp LEFT_SHIFT  &kp Z         &kp X         &kp C      &kp V  &kp B
&kp COMMA  &kp PERIOD  &kp RIGHT_GUI  &kp RIGHT_ALT  &kp RIGHT_CONTROL  &mo 1            &kp RET     &mo 2      &mo 1     &kp LEFT_CONTROL  &kp RET         &kp LEFT_ALT  &kp LEFT_GUI  &kp SPACE
            >;

            sensor-bindings =
                <&inc_dec_kp DOWN_ARROW UP_ARROW>,
                <&inc_dec_kp LEFT RIGHT>;
        };

        lower_layer {
            display-name = "LOWER";
            bindings = <
&kp ESCAPE    &kp F2         &kp LS(F10)  &kp MINUS     &kp EQUAL  &kp DEL          &kp LA(LG(ESCAPE))  &kp LA(F4)  &kp LC(W)   &kp LG(E)   &kp LC(R)     &kp LC(T)
&kp NUMBER_4  &kp PAGE_UP    &kp HOME     &kp UP_ARROW  &kp END    &kp RET          &mkp RCLK           &mkp RCLK   &kp CAPS    &kp LC(A)   &kp LC(S)     &kp LC(D)  &kp LC(F)  &kp LC(G)
&kp NUMBER_1  &kp PAGE_DOWN  &kp LEFT     &kp DOWN      &kp RIGHT  &kp RIGHT_SHIFT  &trans              &trans      &bl BL_DEC  &bl BL_INC  &trans        &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(LA(V))
&kp N0        &kp PERIOD     &BOT         &bt BT_CLR    &trans     &mo 4            &kp RET             &mo 4       &mo 4       &trans      &out OUT_TOG  &BOT       &trans     &trans
            >;

            sensor-bindings = <&BLE_encoder &inc_dec_kp UP DOWN>;
        };

        raise_layer {
            display-name = "RAISE";
            bindings = <
&kp N7        &kp N8        &kp N9         &kp MINUS      &kp EQUAL          &kp DEL          &kp F6         &kp F7       &kp F8   &kp F9            &kp F10  &none
&kp NUMBER_4  &kp N5        &kp NUMBER_6   &kp PLUS       &none              &kp RET          &none          &none        &kp F11  &kp F12           &none    &none         &none         &none
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3   &mo 4          &none              &kp RIGHT_SHIFT  &kp PAGE_DOWN  &kp PAGE_UP  &none    &none             &none    &none         &none         &none      &none  &none
&kp N0        &kp PERIOD    &kp RIGHT_GUI  &kp RIGHT_ALT  &kp RIGHT_CONTROL  &mo 4            &kp RET        &none        &none    &kp LEFT_CONTROL  &none    &kp LEFT_ALT  &kp LEFT_GUI  &kp SPACE
            >;

            sensor-bindings =
                <&inc_dec_kp DOWN UP_ARROW>,
                <&inc_dec_kp LEFT RIGHT>;
        };

        MOUSE_layer {
            display-name = "MOUSE";
            bindings = <
&kp TAB    &kp Q     &kp W     &kp E  &kp R  &kp T      &kp Y           &M_kp MB3 U       &kp I     &kp O        &kp P       &kp BSPC
&kp CAPS   &kp A     &kp S     &kp D  &kp F  &kp G      &mkp LCLK       &mkp LCLK         &kp H     &M_kp MB1 J  &kp K       &kp L        &kp SEMI   &kp ENTER
&kp LSHFT  &kp Z     &kp X     &kp C  &kp V  &kp B      &msc SCRL_DOWN  &msc SCRL_UP      &none     &none        &kp N       &M_kp MB2 M  &kp COMMA  &kp DOT    &kp FSLH  &kp RSHFT
&kp LCTRL  &kp LGUI  &kp LALT  &none  &mo 2  &kp SPACE  &mkp MB1        &LMouse_sc 0 MB1  &tdRMCLK  &mo 2        &kp C_MUTE  &kp MINUS    &kp EQUAL  &kp GRAVE
            >;
        };

        RES_layer {
            display-name = "RESERVE";
            bindings = <
&kp F7  &kp F8  &kp F9       &kp F10  &kp F11  &kp F12  &none  &none  &none       &none       &none  &out OUT_TOG
&kp F4  &kp F5  &kp F6       &none    &none    &none    &none  &none  &none       &none       &none  &none         &none  &bt BT_CLR
&kp F1  &kp F2  &kp F3       &none    &none    &none    &none  &none  &bl BL_DEC  &bl BL_INC  &none  &none         &none  &none       &none  &none
&none   &none   &bootloader  &none    &none    &none    &none  &none  &none       &none       &none  &none         &none  &none
            >;

            sensor-bindings = <&BLE_encoder>;
        };
    };
};
