/*
 * Copyright (c) 2025 ZitaoTech
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define LOWER 1
#define RAISE 2
#define MOUSE 3
#define BOT bootloader

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp LCLK>, <&bt BT_CLR>;
        };
    };

    behaviors {
        tdRMCLK: tap_dance_R_LMouse {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp RCLK>, <&mkp MCLK>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            bindings = <&kp &kp>;
        };
    };

    behaviors {
        LMouse_sc: behavior_LMouse_Scroll {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";     /* 单击优先 */
            tapping-term-ms = <200>;       /* 长按阈值 */
            bindings = <&none &mkp>;        /* hold=none, tap=Lmouse */
        };
    };

    behaviors {
        M_kp: behavior_mouse_keypress {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";     /* 单击优先 */
            tapping-term-ms = <200>;       /* 长按阈值 */
            bindings = <&mkp &kp>;        /* hold=mou key press, tap=key*/
        };
    };

    behaviors {
        BLE_encoder: BLE_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&bt BT_NXT>, <&bt BT_PRV>;
        };
    };

    macros {
        pastevalue: pastevalue {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(V)) &kp V &kp RET>;
            label = "PASTEVALUE";
            wait-ms = <100>;
        };

        cutline: cutline {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(SPACE) &kp LC(X)>;
            label = "CUTLINE";
            wait-ms = <290>;
        };

        addline: Adeline {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(SPACE) &kp LC(PLUS)>;
            label = "ADELINE";
            wait-ms = <290>;
        };

        delline: delline {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(SPACE) &kp LC(MINUS)>;
            label = "DELLINE";
            wait-ms = <290>;
        };

        eminsert: eminsert {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INS &kp RET>;
            label = "EMINSERT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp Y      &kp U       &kp I          &kp O     &kp P         &kp BACKSPACE      &kp ESCAPE  &kp Q      &kp W             &kp E         &kp R           &kp T
&kp H      &kp J       &kp K          &kp L     &kp UP_ARROW  &kp RIGHT_SHIFT    &mkp LCLK   &mkp LCLK  &mt LEFT_GUI TAB  &kp A         &kp S           &kp D         &kp F  &kp G
&kp N      &kp M       &kp SLASH      &kp LEFT  &kp DOWN      &kp RIGHT          &kp ESCAPE  &mkp MB2   &mkp MB1          &mkp MB2      &kp LEFT_SHIFT  &kp Z         &kp X  &kp C      &kp V  &kp B
&kp COMMA  &kp PERIOD  &kp RIGHT_GUI  &mo 2     &mo 2         &kp RIGHT_CONTROL  &kp RET     &mo 4      &kp LEFT_CONTROL  &kp LEFT_ALT  &mo 4           &kp LEFT_GUI  &mo 2  &kp SPACE
            >;

            sensor-bindings =
                <&inc_dec_kp PAGE_DOWN PAGE_UP>,
                <&inc_dec_kp UP_ARROW DOWN>;
        };

        Secondary {
            display-name = "Num&Controls";
            bindings = <
&kp N7        &kp N8        &kp N9        &kp MINUS  &kp EQUAL     &kp BACKSPACE  &kp ESC   &cutline  &addline  &delline   &kp LC(R)  &kp F2
&kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp PLUS   &kp UP_ARROW  &kp RSHFT      &mkp MB1  &mkp MB1  &trans    &kp LC(A)  &kp LC(S)  &kp LC(D)  &pastevalue  &kp F5
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp LEFT   &kp DOWN      &kp RIGHT      &kp ESC   &trans    &trans    &trans     &trans     &kp LC(Z)  &kp LC(X)    &kp LC(C)  &kp LC(V)  &kp LC(LA(V))
&kp N0        &kp PERIOD    &trans        &to 0      &mo 2         &trans         &trans    &mo 4     &trans    &trans     &mo 4      &trans     &mo 2        &trans
            >;

            sensor-bindings =
                <&inc_dec_kp PAGE_DOWN PAGE_UP>,
                <&inc_dec_kp UP_ARROW DOWN_ARROW>;
        };

        Alternative {
            display-name = "RVops";
            bindings = <
&kp N7  &kp N8      &kp N9  &kp MINUS  &kp EQUAL      &kp DELETE       &trans    &cutline  &addline  &delline   &kp LC(R)  &kp F2
&kp N4  &kp N5      &kp N6  &kp PLUS   &kp PAGE_UP    &kp RIGHT_SHIFT  &mkp MB1  &none     &trans    &kp LC(A)  &kp LC(S)  &kp LC(D)  &pastevalue  &kp F5
&kp N1  &kp N2      &kp N3  &kp HOME   &kp PAGE_DOWN  &kp END          &trans    &trans    &to 1     &to 4      &trans     &kp LC(Z)  &kp LC(X)    &kp LC(C)  &kp LC(V)  &kp LC(LA(V))
&kp N0  &kp PERIOD  &trans  &to 0      &mo 5          &trans           &trans    &mo 5     &trans    &trans     &mo 5      &trans     &mo 5        &kp RET
            >;

            sensor-bindings =
                <&inc_dec_kp LC(PAGE_DOWN) LC(PAGE_UP)>,
                <&inc_dec_kp LEFT RIGHT>;
        };

        MOUSE_layer {
            display-name = "MOUSE";
            bindings = <
&none  &none  &none   &none  &none  &kp BACKSPACE  &mkp MB1   &mkp MB2   &none     &none     &none   &none
&none  &none  &none   &none  &none  &trans         &mkp LCLK  &mkp LCLK  &none     &mkp MB3  &none   &none   &none  &none
&none  &none  &none   &none  &none  &none          &trans     &trans     &mkp MB1  &mkp MB2  &trans  &none   &none  &none      &none  &none
&none  &none  &trans  &to 0  &none  &trans         &trans     &none      &trans    &trans    &none   &trans  &none  &kp SPACE
            >;

            sensor-bindings =
                <&inc_dec_kp PAGE_DOWN PAGE_UP>,
                <&inc_dec_kp UP_ARROW DOWN>;
        };

        Fkeys {
            display-name = "Function";
            bindings = <
&kp F7   &kp F8     &kp F9  &kp F11                                 &kp F12                &kp DEL                    &kp ESC   &kp F2    &kp F12            &kp LS(F11)   &kp LS(F8)     &kp LG(LS(T))
&kp F4   &kp F5     &kp F6  &kp SEMI                                &kp APOS               &kp RIGHT_SHIFT            &mkp MB1  &mkp MB1  &kp LA(LS(SPACE))  &kp LC(PLUS)  &kp LC(MINUS)  &kp DEL        &kp INS        &kp UP_ARROW
&kp F1   &kp F2     &kp F3  &mt RIGHT_PARENTHESIS LEFT_PARENTHESIS  &mt RBKT LEFT_BRACKET  &mt NON_US_BSLH BACKSLASH  &kp ESC   &mkp MB2  &mkp MB1           &mkp MB2      &trans         &kp LC(SPACE)  &kp LS(SPACE)  &kp LC(C)     &eminsert  &kp DOWN
&kp F10  &kp GRAVE  &trans  &to 0                                   &mo 5                  &trans                     &trans    &mo 5     &trans             &trans        &to 0          &trans         &kp SPACE      &kp ENTER
            >;

            sensor-bindings =
                <&inc_dec_kp LC(PAGE_DOWN) LC(PAGE_UP)>,
                <&inc_dec_kp LEFT RIGHT>;
        };

        MM6 {
            bindings = <
&kp N7        &kp N8        &kp N9         &kp MINUS  &kp EQUAL     &kp BACKSPACE      &kp ESC             &kp N1    &kp N2     &kp N3   &kp N4        &kp N5
&kp NUMBER_4  &kp N5        &kp NUMBER_6   &kp PLUS   &kp UP_ARROW  &kp RIGHT_SHIFT    &mkp MB1            &none     &kp LCTRL  &kp A    &kp UP_ARROW  &kp S     &kp F7     &kp F8
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3   &kp LEFT   &kp DOWN      &kp RIGHT          &kp LA(LS(ESCAPE))  &mkp MB2  &kp Q      &kp R    &kp LSHFT     &kp LEFT  &kp DOWN   &kp RIGHT  &kp F9  &kp F10
&kp N0        &kp PERIOD    &kp RIGHT_GUI  &to 0      &mo 6         &kp RIGHT_CONTROL  &kp RET             &mt Y M   &kp X      &mt Z I  &kp TAB       &kp C     &kp SPACE  &kp ENTER
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_UP C_VOL_DN>,
                <&inc_dec_kp PAGE_UP PAGE_DOWN>;

            label = "MM6";
        };

        RES_layer {
            display-name = "last";
            bindings = <
&kp F7   &kp F8   &kp F9    &kp F12   &kp PRINTSCREEN  &kp DELETE       &kp ESCAPE  &to 0  &to 1                    &to 5       &none            &out OUT_TOG
&kp F4   &kp F5   &kp F6    &kp INS   &kp PAGE_UP      &kp RIGHT_SHIFT  &mkp MB1    &none  &mt KP_NUMLOCK CAPSLOCK  &none       &kp PAUSE_BREAK  &none         &none  &kp UP_ARROW
&kp F1   &kp F2   &kp F3    &kp HOME  &kp PAGE_DOWN    &kp END          &bt BT_CLR  &none  &bl BL_DEC               &bl BL_INC  &kp LSHFT        &none         &none  &none         &none  &kp DOWN
&kp F10  &kp F11  &kp RGUI  &to 0     &none            &kp RCTRL        &kp ENTER   &none  &kp LCTRL                &kp LALT    &none            &kp LGUI      &none  &kp RET
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_UP C_VOL_DN>,
                <&BLE_encoder>;
        };
    };
};
